.ios, .md {
 
    page-onhome {
        ion-slide {
            background-color:black;
            color:chocolate;
          }
      ion-slide img {
        height: 60vh !important;
        width: auto !important;
      }
   
    }
   
  }