page-list {

    .circle-pic{

        width:30px;
        height:30px;
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: auto;
        display: block;
        margin-bottom: 0px;
    }
    .ion-row-rheader{
        font-size:10px !important;
        text-align: center !important;
        font-weight: bold;
    }
    ion-row{
        font-size:12px !important;
    }
    ion-col{
        padding:2px !important;
    }
    hr{
        size:2;
        width:95%;
    } 
}
