<ion-item>
  <b>Attendance</b>
  <ion-icon *ngIf="hasUpdAttendanceAccess" name="person-add" item-end (click)="selectAttendanceList(attendance$)">
  </ion-icon>

</ion-item>


<ion-grid>
  <ion-row>
    <ion-col *ngFor="let at of attendance$|async" col-6  style="border:solid  1px lightgray">
      <ion-row  (click)="updateAttendance(at.id,  at.at_confirmed)">
        <ion-col col-8 >
          {{at.mb_hashname}}
        </ion-col>
        <ion-col col-2>
          <ion-icon item-end color="danger" *ngIf="(!hasUpdAttendanceAccess && at.at_confirmed!='Confirmed')" name="help"></ion-icon>
          <ion-icon item-end color="danger" *ngIf="hasUpdAttendanceAccess && at.at_confirmed!='Confirmed'"
            name="help"></ion-icon>
          <ion-icon item-end color="secondary" *ngIf="(!hasUpdAttendanceAccess && at.at_confirmed=='Confirmed')" name="checkmark"></ion-icon>
          <ion-icon item-end color="secondary" *ngIf="hasUpdAttendanceAccess && at.at_confirmed=='Confirmed'" 
            name="checkmark"></ion-icon>
        </ion-col>
        <ion-col col-2>
          <button item-end *ngIf="hasUpdAttendanceAccess" mini (click)="deleteAttendance(at.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>