<ion-header>
  <headercomponent></headercomponent>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item-divider color="header2">Add Attendee</ion-item-divider>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="attendanceForm" (ngSubmit)="addAttendance(attendanceForm.value)">
        <ion-list (click)="selectMember()">
          <ion-item>
            <ion-icon name="person" item-start></ion-icon>
            <ion-label>Attendee</ion-label>
            <ion-input value="{{smember}}" formControlName="mb_hashname"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Confirm</ion-label>
          <ion-icon name="thumbs-up" item-start></ion-icon>
          <ion-select formControlName="at_confirmed">
            <ion-option value="Confirmed">Confirmed</ion-option>
            <ion-option value="Unconfirmed">Unconfirmed</ion-option>
          </ion-select>
        </ion-item>

        <ion-buttons text-center>
          <button ion-button color="header" small round type="submit">Submit</button>
          <button ion-button color="header" small round type="button" (click)="goback()">Cancel</button>
        </ion-buttons>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>