attendancecomponent {
    ion-badge {
        min-width: 90px !important;
    }
    ion-row {
        padding: 0 !important;
    }
    ion-col {
        padding: 0 ;
        font-size: 12px;
    }
    ion-label, ion-icon {
        margin: 0 !important;
      
    }
}
